.left-bar {
  position: relative;
  height: 100%;
  padding: 3rem 2rem;
  border-radius: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-margin: 50px 0px 50px 0px; 
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.01);
  }
  .logo {
    text-align: center;
    margin-bottom: 3rem;
    img {
      width: 140px;
    }
  }
  .person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 2rem;
    .info {
      display: flex;
      align-items: center;
      .avatar {
        display: flex;
        margin-right: 1.4rem;
        img {
          width: 60px;
          border-radius: 50%;
        }
      }
      .title {
        .name {
          font-family: 'Poppins', sans-serif;
          letter-spacing: 0.5px;
          font-size: 1.1rem;
          line-height: 1.1rem;
          margin-bottom: 0.2rem;
          color: #fff;
          opacity: 0.9;
        } 
        .cargo {
          font-family: 'Poppins', sans-serif;
          font-size: 0.7rem;
          font-weight: 600; 
          color: #ff9d00;
          text-transform: uppercase;
        }
      }
    }
    .down-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 6px;
      background-color: #ff9d00;
      color: #fff;
      font-size: 1.2rem;
    }
  }
  ul.menu {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-radius: 6px;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      .info {
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          margin-right: 1.6rem;
          color: #fff;
          opacity: 0.8;
          font-size: 1.6rem;
        }
        .title {
          font-size: 1.05rem;
          color: #fff;
          opacity: 0.8;
        }
      }
      .right-arrow {
        display: flex;
        color: #fff;
        font-size: 1.2rem;
        opacity: 0.8;
      }
    }
  }
}