.dashboard {
  position: relative;
  padding: 4rem;
  border-radius: 30px;
  h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.8rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: #fff;
    opacity: 0.8;
  }
  h2 {
    margin-bottom: 4rem;
    &.subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.8rem;
      opacity: 0.5;
      width: 40%;
      color: #fff;
    }
    &.next-title {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 1.6rem;
      color: #fff;
      opacity: 0.7;
    }
  }
  .section-counting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    .counting {
      position: relative;
      border-radius: 50px;
      background: #2d2d2e;
      box-shadow:  17px 17px 39px #272728,
                  -17px -17px 39px #333334;
      width: 30%;
      padding: 2.8rem 2rem;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        transform: rotate(3deg);
      }
      .info {
        h2 {
          font-family: 'Raleway', sans-serif;
          font-size: 4rem;
          margin-bottom: 0.6rem;
          color: #fff;
          opacity: 0.8;
        }
        .text {
          color: #fff;
          opacity: 0.4;
        }
      }
      .icon {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 20px;
        border-radius: 20px;
        background: #2d2d2e;
        box-shadow: inset 7px 7px 14px #272728,
                    inset -7px -7px 14px #333334;
        color: #ff9d00;
        font-size: 2rem;
      }
    }
  }
  .section-last-news {
    border-radius: 50px;
    background: #2d2d2e;
    box-shadow:  20px 20px 60px #262627,
                -20px -20px 60px #343435;
    padding: 3rem;
    .box-noticia {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
      .title {
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        opacity: 0.7;
        margin-bottom: 1rem;
        color: #fff;
      }
      .desc {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 1.6rem;
        font-weight: 300;
        color: #fff;
        opacity: 0.7;
      }
      .tags {
        display: flex;
        .tag {
          padding: 1rem 1.4rem;
          background: linear-gradient(145deg, #ffa800, #e68d00);
          box-shadow: 4px 4px 12px 0px rgba(255, 157, 0, 0.3),
                      -4px -4px 12px 0px rgba(0,0,0,0.5);
          border-radius: 30px;
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}